<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }} - Graystreet</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="name"><a href="/">SilverStreet</a></li>
          <li><a href="/catalogue">Catalogue</a></li>
          <li><a href="/random">Random!</a></li>
        </ul>
        <div class="search-container">
          <input class="search" type="text" name="search" value="" />
          <button class="search-button">{% include "search.svg" %}</button>
        </div>
      </nav>
    </header>
    <main>{{ content | safe }}</main>
  </body>
</html>
