<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }} - SilverStreet</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="name"><a href="/">SilverStreet</a></li>
          <li><a href="/catalogue">Catalogue</a></li>
          <li><a href="/random">Random!</a></li>
          <li>
            <button
              id="volume-btn"
              onclick="toggleVolume()"
              class="volume"
              aria-label="Toggle sound"
            >
              {% include "volume_on.svg" %}
            </button>
          </li>
        </ul>
        <div class="search-container">
          <input class="search" type="text" name="search" value="" />
          <button class="search-button">{% include "search.svg" %}</button>
        </div>
      </nav>
    </header>
    <main>{% block content %} {{ content | safe }} {% endblock %}</main>

    <script>
      const volumeBtn = document.getElementById("volume-btn");
      let volumeOn = true;
      function toggleVolume() {
        if (volumeOn) {
          volumeBtn.innerHTML = `{% include "volume_off.svg" %}`;
        } else {
          volumeBtn.innerHTML = `{% include "volume_on.svg" %}`;
        }
        volumeOn = !volumeOn;
      }
    </script>
  </body>
</html>
